
.aquarium__fish--container {
    margin: 0.5em; border: black 2px solid; padding: 0.5em;
}

.aquarium__fish--list {
    display: flex; flex-wrap: wrap; font-size: 10pt; justify-content: space-evenly; text-align: center;
}

.aquarium__fish--each {
   
}

img {
    height:100px; border: 2px solid black; border-radius:50%
}