.aquarium {
   
}

.aquarium__fish {
    margin: 0.5em; border: black 2px solid;
}
.aquarium__fish--each {
    display: flex; flex-wrap: wrap; justify-content: space-evenly;
}

.location {
    margin: 0.5em; border: black 2px solid;
}

.location__quotes {
    justify-content: center;s
}

.location__guide {

}

.aquarium__care {
    margin: 0.5em; background-color: black; justify-content: center;
}

body {

}
