@import "fish.css";

.aquarium {

}

.aquarium__container--main {
    display: flex; 
}



.location {
    text-align: center; margin: 0.5em; border: black 2px solid; padding: 0.5em;
}

.location__quotes {
    text-align: center;
}

.location__guide {
    text-align: center;
}

.aquarium__care--container {
    text-align: center; margin: 0.5em; background-color: black; width: 500px; padding: 0.5em;
}

body {

}

p {
    margin-top: -10px;
}

.header {
    background-image: Macintosh HD⁩/⁨Users⁩/machurek⁩/⁨workspace⁩/⁨martins-aquarium⁩; background-repeat: no-repeat;
}